@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-size: 0.9rem;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 5em;
    background-color: rgb(199, 199, 199);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    font-size: 17px;
    margin-bottom: 15px;
}
.title h2 {
    font-size: 1.1rem;
    font-weight: bold;
}

.back {
    position: absolute;
    padding: 15px;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carteirinha {
    width: 420px;
    height: 270px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.4);
    position: relative;
    border: 1px solid black;
    transform: rotate(90deg);
}

.header {
    color: #00315a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 2.5rem;
}

.header h2 {
    font-size: 0.9rem;
    margin: 0;
    font-weight: 700;
}
.img {
    padding-top: 5px;
}
.header .img img {
    height: 35px;
    width: 40px;
}

.info p {
    font-family: 'Roboto';
    font-size: 12px;
    margin: 3px 0;
    line-height: 1.4;
}

.validade {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
    position: absolute;
    bottom: 15px;
    font-size: 12px;
}

strong {
    font-weight: bold;
}

#ru {
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}


footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5em;
    background-color: rgb(199, 199, 199);
    left: 0;
    bottom: 0;
}


.body-carteirinha {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}

.img-qr-code {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 95%;
    height: 85%;
    position: absolute;
}
.img-qr-code img {
    width: 120px;
    height: 120px;
}

.infos {
    background-color: antiquewhite;
}